{% extends "base.html" %}
{% block body %}
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <a href="/" class="has-text-white">Language Learner Annotation - Annotation Pipeline</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="content v-large-padded">
        <h3>Sorry, you're not in the list!</h3>
        <p>
            <code>{{ workerId }}</code> is not allocated to <code>{{ language }}</code> <code>{{ task }}</code> <code>{{ isTranslation }}</code>.</br>
            Please check whether your selection again, and contact us if you have any issue.
        </p>
{% endblock %}